{% extends "base.html" %}
{% block title %}Episodes{% endblock %}
{% block podcast_header %}{{ title }}{% endblock %}
{% block content %}
    <h1 class="published">{{ title }} &mdash; Episode List</h1>
    <div class="info">
        <div class="guests-and-episodes">
            <div class="wrapper">
                <table class="guests-and-episodes">
                    <thead><tr><th class="number">No.</th><th class="title">Title</th><th class="released">Released</th></tr></thead>
                    <tbody>
                        {% for episode in episodes %}
                            <tr><td class="number">#{{ episode.position }}</td>
                                <td class="title"><a href="/episodes/{{ episode.slug }}.html" class="ep" title="{{ episode.title }}"><span class="tape-label">{{ episode.title }}</span></a></td>
                                <td class="released">{{ episode.published.strftime("%B %d, %Y") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}